body {
	width: min(65ch, 92.5vw);
	margin: 0 auto;
	padding: 0.25em;

	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	line-height: 1.3;
}

header {
	display: flex;
	align-items: center;
	margin-bottom: 1em;
	padding: 0.25em 0;
	border-bottom: 0.15em solid #333;
}

main {
	display: flex;
}

h1 {
	font-size: 1.25rem;
	font-weight: bold;
}

#indicator {
	margin: 5em auto 0 auto;
}

@media screen and (min-width: 800px) {
	html {
		font-size: 1.10rem;
	}

	body {
		padding: 0.5em;
		line-height: 1.4;
	}
}

@media screen and (min-width: 1200px) {
	html {
		font-size: 1.15rem;
	}

	body {
		line-height: 1.5;
	}
}
