/*
 * Size elements based on their total occupied space, rather
 * than only the space of their content.
 */
* {
	box-sizing: border-box;
}

/*
 * Remove default spacing.
 */
body,
h1, h2, h3, h4,
p,
figure,
blockquote,
ul, ol {
	margin: 0;
	padding: 0;
}

/*
 * Ensure that font size and weight must be chosen explicitly.
 */
h1,
h2,
h3,
h4 {
	font-size: 1rem;
	font-weight: normal;
}
